In [4]:
#dependencies and importing csv
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

path = "../Resources/movies_metadata.csv"

summer_data = pd.read_csv(path)
summer_data = summer_data.dropna()
summer_data.count()

/Users/z1mh4lap/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

adult                    693
belongs_to_collection    693
budget                   693
genres                   693
homepage                 693
id                       693
imdb_id                  693
original_language        693
original_title           693
overview                 693
popularity               693
poster_path              693
production_companies     693
production_countries     693
release_date             693
revenue                  693
runtime                  693
spoken_languages         693
status                   693
tagline                  693
title                    693
video                    693
vote_average             693
vote_count               693
dtype: int64

In [5]:
summer_2014 = summer_data.release_date
summer_2015 = summer_data.release_date
for index, row in summer_data.iterrows():
     summer_data['release_date'][index] = summer_data['release_date'][index].split('-')
    
summer_data.head()
# print(summer_2014)
# avg_revenue = movie_data["Revenue (Millions)"].mean()
# med_revenue = movie_data["Revenue (Millions)"].median()
# var_revenue = movie_data["Revenue (Millions)"].var(ddof=0)
# std_revenue = movie_data["Revenue (Millions)"].std(ddof=0)

/Users/z1mh4lap/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,"[1995, 11, 16]",352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,"[1995, 04, 26]",28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,"[1996, 01, 19]",25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,"[1995, 09, 15]",1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,"[1995, 06, 30]",66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0